@font-face {
  font-family: rore;
  src: url("../fonts/Roboto-Regular.ttf"); }
@font-face {
  font-family: rome;
  src: url("../fonts/Roboto-Medium.ttf"); }
@font-face {
  font-family: robo;
  src: url("../fonts/Roboto-Bold.ttf"); }
header {
  color: #ffffff;
  background-color: #008744; }
  header .header__info {
    line-height: 36px;
    background-color: inherit;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    text-align: center; }
    header .header__info__new i {
      font-size: 12px;
      padding: 0 5px; }
    header .header__info__new__user {
      position: relative; }
      header .header__info__new__user:hover #user-info {
        display: block;
        transition: all 0.3s linear; }
    header .header__info__new > span {
      cursor: pointer;
      transition: all 0.2s linear;
      padding: 0 5px;
      float: right; }
      header .header__info__new > span:hover {
        color: #ffba00; }
      @media only screen and (max-width: 991px) {
        header .header__info__new > span {
          float: none; } }
    @media only screen and (max-width: 991px) {
      header .header__info__new span:not(:last-child) {
        display: none; } }
    header .header__info__new #user-info {
      position: absolute;
      top: 35px;
      right: -88px;
      min-width: 240px;
      border: 1px solid #efefef;
      background-color: #fff;
      margin: 0;
      z-index: 1000;
      padding: 8px 10px;
      border-radius: 0 0 3px 3px;
      box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.18);
      border-radius: 3px;
      display: none; }
      header .header__info__new #user-info a {
        text-align: center;
        display: block;
        width: 100%;
        color: white;
        background-color: #ffba00;
        font-size: 15px;
        border-radius: 3px; }
        header .header__info__new #user-info a:nth-child(2) {
          margin-top: 8px;
          color: #444;
          background-color: #e1e1e1; }
      header .header__info__new #user-info:before {
        position: absolute;
        top: -10px;
        left: 50%;
        content: "";
        width: 0;
        height: 0;
        transform: translateX(-50%);
        border-style: solid;
        border-width: 0 10px 10px 10px;
        border-color: transparent transparent white transparent; }
  header .header__main {
    background-color: #008744;
    background-color: inherit;
    padding: 15px 0; }
    @media only screen and (min-width: 668px) and (max-width: 991px) {
      header .header__main {
        padding-bottom: 0; } }
    header .header__main #header__main__logo i.fas.fa-bars.icon-colapse {
      color: white;
      float: left;
      font-size: 22px;
      cursor: pointer;
      display: none;
      margin-top: 10px; }
      @media only screen and (max-width: 991px) {
        header .header__main #header__main__logo i.fas.fa-bars.icon-colapse {
          display: block; } }
    @media only screen and (max-width: 991px) {
      header .header__main #header__main__logo img {
        padding-bottom: 15px; } }
    header .header__main #formsearch {
      position: relative;
      overflow: auto;
      width: 100%;
      margin-top: 2px;
      margin-left: auto;
      margin-right: auto;
      background-color: white;
      border-radius: 2px; }
      @media only screen and (max-width: 991px) {
        header .header__main #formsearch {
          margin-bottom: 10px; } }
      header .header__main #formsearch #searchbox {
        float: left;
        height: 41px;
        width: 80%;
        border: none;
        box-shadow: none;
        padding: 10px 20px; }
      header .header__main #formsearch #searchbox:focus {
        outline: none; }
      header .header__main #formsearch ::placeholder {
        opacity: 0.6; }
      header .header__main #formsearch #submit {
        position: absolute;
        padding: 9px 27px;
        top: 2px;
        right: 2px;
        border-radius: 2px;
        border: none;
        box-shadow: none;
        background-color: #ffba00;
        color: #ffffff; }
        header .header__main #formsearch #submit i {
          font-size: 15px; }
    @media only screen and (max-width: 991px) and (min-width: 668px) {
      header .header__main .hotline-info {
        height: 0; } }
    header .header__main__hotline {
      float: left;
      text-align: left;
      width: 147px; }
      header .header__main__hotline > span {
        cursor: pointer;
        float: left;
        width: 40px;
        height: 40px;
        border: 2px solid white;
        border-radius: 50%; }
        header .header__main__hotline > span i {
          font-size: 15px;
          padding: 10px; }
      header .header__main__hotline:nth-child(2) {
        float: right;
        width: 140px; }
    header .header__main .cart-infomation {
      position: relative;
      cursor: pointer; }
      @media only screen and (min-width: 992px) {
        header .header__main .cart-infomation:hover .cart-list {
          display: inline-block; } }
      header .header__main .cart-infomation .cart-infomation__fluid {
        width: 100%;
        height: 100%; }
      header .header__main .cart-infomation .cart-list {
        display: none;
        width: 290px;
        position: absolute;
        top: calc(100% +  7px);
        right: 0;
        z-index: 10;
        background-color: #ffffff;
        color: #444444; }
        header .header__main .cart-infomation .cart-list:before {
          width: 100%;
          height: 7px;
          background-color: transparent;
          content: "";
          position: absolute;
          top: -7px;
          left: 0; }
        header .header__main .cart-infomation .cart-list__action {
          padding: 10px; }
          header .header__main .cart-infomation .cart-list__action .cart-list-totalprice {
            width: 100%;
            padding: 5px;
            font-size: 14px; }
            header .header__main .cart-infomation .cart-list__action .cart-list-totalprice span:nth-child(2) {
              float: right;
              color: #008744;
              font-family: rome; }
          header .header__main .cart-infomation .cart-list__action .cart-list-paymoney {
            padding: 5px;
            text-align: center;
            color: #ffffff;
            background-color: #008744;
            border-radius: 3px;
            border: 1px solid #008744;
            font-family: rome; }
            header .header__main .cart-infomation .cart-list__action .cart-list-paymoney:hover {
              background-color: #ffffff;
              color: #008744; }
          header .header__main .cart-infomation .cart-list__action .cart-list-gotocart {
            margin-top: 5px;
            padding: 5px;
            text-align: center;
            color: #ffffff;
            border-radius: 3px;
            background-color: #444;
            font-family: rome; }
    @media only screen and (min-width: 1200px) {
      header .header__main .tele-infomation {
        margin-left: 12%; } }
    header .header__main__hotline-info {
      margin-top: 4px; }
      @media only screen and (max-width: 1200px) {
        header .header__main__hotline-info {
          font-size: 12px; } }
      header .header__main__hotline-info > p {
        cursor: pointer;
        margin-bottom: 0;
        margin-left: 50px;
        transition: all 0.3s ease; }
        header .header__main__hotline-info > p:first-child {
          font-size: 1em;
          font-family: rome; }
          header .header__main__hotline-info > p:first-child:hover {
            color: #ffba00; }
      header .header__main__hotline-info #product-cart {
        margin-left: 10px;
        color: white;
        font-size: 1em;
        font-family: rome; }
        header .header__main__hotline-info #product-cart:hover {
          text-decoration: none; }
        header .header__main__hotline-info #product-cart #count-product {
          text-decoration: none;
          font-family: robo; }
      header .header__main__hotline-info .text-cart {
        margin-left: 50px;
        font-size: 0.8em;
        color: #ffdada;
        display: block; }

@media only screen and (min-width: 668px) and (max-width: 991px) {
  .tele-infomation {
    display: none; }

  .cart-infomation {
    right: 15px;
    top: -113px;
    position: absolute;
    z-index: 6; } }
.wrap-main {
  display: block;
  font-size: 1.15em;
  background-color: #393a44; }
  @media only screen and (max-width: 991px) {
    .wrap-main {
      background-color: #008744;
      padding: 0 0 10px 0; } }
  @media only screen and (max-width: 1200px) {
    .wrap-main {
      font-size: 1em; } }
  .wrap-main .menu-toogle {
    position: relative;
    background-color: #ffba00;
    color: #ffffff;
    height: 56px;
    font-size: 1.15em; }
    @media only screen and (min-width: 992px) {
      .wrap-main .menu-toogle:hover .list_menu_header {
        display: block; } }
    @media only screen and (max-width: 991px) {
      .wrap-main .menu-toogle {
        height: 40px; } }
    .wrap-main .menu-toogle > a {
      position: absolute;
      top: 50%;
      left: 17%;
      transform: translateY(-50%);
      color: white; }
      @media only screen and (max-width: 1200px) {
        .wrap-main .menu-toogle > a {
          left: 10%; } }
      .wrap-main .menu-toogle > a span {
        color: white; }
      .wrap-main .menu-toogle > a:hover {
        text-decoration: none; }
  .wrap-main .list-menu {
    color: white;
    font-family: rome; }
    .wrap-main .list-menu .nav-item {
      height: 100%; }
      .wrap-main .list-menu .nav-item:last-child {
        position: relative; }
        .wrap-main .list-menu .nav-item:last-child .label-new {
          position: relative;
          position: absolute;
          top: -8px;
          right: 10%;
          background-color: #5bca3d;
          border: 1px solid #5bca3d;
          font-size: 0.8rem;
          padding: 1px 5px;
          font-weight: 400;
          font-style: normal; }
          .wrap-main .list-menu .nav-item:last-child .label-new:before {
            position: absolute;
            content: "";
            bottom: -5px;
            left: 35%;
            border-style: solid;
            border-width: 5px 5px 0 5px;
            width: 0;
            height: 0;
            transform: translateX(-50%);
            border-color: #5bca3d transparent transparent transparent; }
      .wrap-main .list-menu .nav-item:first-child > .nav-link {
        color: #008744; }
      .wrap-main .list-menu .nav-item:hover .nav-link {
        color: #008744; }
      .wrap-main .list-menu .nav-item .nav-link {
        padding: 17px 17px;
        color: white;
        text-transform: uppercase;
        transition: all 0.2s linear; }
        @media only screen and (max-width: 1200px) {
          .wrap-main .list-menu .nav-item .nav-link {
            padding: 17px 10px; } }

.container-fluid {
  padding: 0 !important; }

.side__bar {
  display: none; }
  @media only screen and (max-width: 991px) {
    .side__bar {
      display: inline-block;
      position: fixed;
      top: 0;
      left: -300px;
      height: 100%;
      width: 280px;
      background-color: #008744;
      z-index: 9999;
      box-shadow: 2px 0px 11px 1px rgba(168, 168, 168, 0.54); }
      .side__bar__logo {
        background-color: #ffba00; }
      .side__bar__list {
        list-style-type: none;
        padding-left: 0; }
        .side__bar__list li {
          padding: 10px 30px;
          font-size: 14px;
          color: white;
          font-weight: normal;
          text-transform: uppercase;
          border-bottom: 1px solid rgba(255, 255, 255, 0.8); } }

.cart-list__nav {
  overflow-y: scroll;
  padding: 0;
  max-height: 220px;
  border-bottom: 1px solid #4444446e;
  list-style-type: none;
  margin-bottom: 0; }
  .cart-list__nav::-webkit-scrollbar {
    width: 6px;
    background-color: transparent; }
  .cart-list__nav::-webkit-scrollbar-thumb {
    background-color: #008744;
    border-radius: 3px; }
    .cart-list__nav::-webkit-scrollbar-thumb:hover {
      background-color: rgba(255, 255, 255, 0.2); }
  .cart-list__nav .cart-list-item {
    position: relative;
    height: 110px; }
    .cart-list__nav .cart-list-item .product-img img {
      width: 80px;
      height: 80px; }
    .cart-list__nav .cart-list-item:not(:last-child) {
      border-bottom: 1px solid #4444396b; }
    .cart-list__nav .cart-list-item .giang-close {
      position: absolute;
      top: 5px;
      right: 10px;
      width: 10px;
      height: 10px;
      z-index: 60;
      cursor: pointer; }
      .cart-list__nav .cart-list-item .giang-close i {
        display: block;
        width: 10px;
        height: 10px; }
        .cart-list__nav .cart-list-item .giang-close i:before {
          background-color: #444444;
          position: absolute;
          content: "";
          height: 100%;
          width: 2px;
          top: 0;
          left: 8px;
          transform: rotate(45deg); }
        .cart-list__nav .cart-list-item .giang-close i:after {
          background-color: #444444;
          position: absolute;
          content: "";
          height: 100%;
          width: 2px;
          top: 0;
          right: 0;
          transform: rotate(-45deg); }
    .cart-list__nav .cart-list-item .product-box-w {
      max-height: 110px;
      font-size: 12px;
      margin-bottom: 0;
      padding: 15px 25px 15px 15px; }
      .cart-list__nav .cart-list-item .product-box-w .product-img {
        display: inline;
        width: 30%; }
      .cart-list__nav .cart-list-item .product-box-w .product-info a {
        font-size: 12px; }
      .cart-list__nav .cart-list-item .product-box-w .product-name {
        margin: 0;
        font-size: 13px;
        line-height: 13px;
        max-height: 30px; }
      .cart-list__nav .cart-list-item .product-box-w .product-price {
        margin: 0;
        display: inline-flex;
        justify-content: space-between; }
        .cart-list__nav .cart-list-item .product-box-w .product-price .new-price {
          font-size: 12px; }
      .cart-list__nav .cart-list-item .product-box-w .product-select {
        margin-top: 8px;
        display: inline-block;
        text-align: left;
        border: 1px solid #4444396b; }
        .cart-list__nav .cart-list-item .product-box-w .product-select__count {
          width: 30px;
          float: left;
          height: 25px;
          border: 1px solid #4444396b;
          border-top: 0;
          border-bottom: 0;
          text-align: center; }
          .cart-list__nav .cart-list-item .product-box-w .product-select__count:hover {
            outline: none; }
          .cart-list__nav .cart-list-item .product-box-w .product-select__count:focus {
            outline: none; }
        .cart-list__nav .cart-list-item .product-box-w .product-select__minus, .cart-list__nav .cart-list-item .product-box-w .product-select__plus {
          cursor: pointer;
          width: 22px;
          float: left;
          height: 25px;
          font-size: 14px;
          border: none;
          background-color: #ffffff;
          box-shadow: none; }
          .cart-list__nav .cart-list-item .product-box-w .product-select__minus:focus, .cart-list__nav .cart-list-item .product-box-w .product-select__plus:focus {
            outline: none;
            box-shadow: none; }

.product-select {
  display: inline-block;
  text-align: left;
  border: 1px solid #4444396b; }
  .product-select__count {
    width: 30px;
    float: left;
    height: 25px;
    border: 1px solid #4444396b;
    border-top: 0;
    border-bottom: 0;
    text-align: center; }
    .product-select__count:hover {
      outline: none; }
    .product-select__count:focus {
      outline: none; }
  .product-select__minus, .product-select__plus {
    cursor: pointer;
    width: 22px;
    float: left;
    height: 25px;
    font-size: 14px;
    border: none;
    background-color: #ffffff;
    box-shadow: none; }
    .product-select__minus:focus, .product-select__plus:focus {
      outline: none;
      box-shadow: none; }

/*# sourceMappingURL=header.css.map */
