$bg-main: #008744;
$bg-tomato:#d92b1f;
$color-white:#ffffff;
$color-yellow:#ffba00;
$color-gray:#444;
@font-face {
  font-family: rore;
  src:url("../fonts/Roboto-Regular.ttf");
}
@font-face {
  font-family: rome;
  src:url("../fonts/Roboto-Medium.ttf");
}
@font-face {
  font-family: robo;
  src:url("../fonts/Roboto-Bold.ttf");
}