@import "color";
header {
  color: $color-white;
  background-color: $bg-main;
  .header__info {
    line-height: 36px;
    background-color: inherit;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    text-align: center;

    &__new {
      i {
        font-size: 12px;
        padding: 0 5px;
      }

      &__user {
        position: relative;
        &:hover #user-info {
          display: block;
          transition: all 0.3s linear;
        }

      }

      >span {
        cursor: pointer;

        transition: all 0.2s linear;

        &:hover {
          color: $color-yellow;
        }

        padding: 0 5px;
        float: right;

        @media only screen and (max-width: 991px) {
          & {
            float: none;
          }

        }

      }

      span:not(:last-child) {
        @media only screen and (max-width: 991px) {
          display: none;
        }
      }

      #user-info {
        position: absolute;
        top: 35px;
        right: -88px;
        min-width: 240px;
        border: 1px solid #efefef;
        background-color: #fff;
        margin: 0;
        z-index: 1000;
        padding: 8px 10px;
        box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.18);
        border-radius: 3px;
        display: none;

        a {
          text-align: center;
          display: block;
          width: 100%;

          color: white;
          background-color: $color-yellow;
          font-size: 15px;
          border-radius: 3px;

          &:nth-child(2) {
            margin-top: 8px;
            color: $color-gray;
            background-color: #e1e1e1;
          }
        }

        &:before {
          position: absolute;
          top: -10px;
          left: 50%;
          content: "";
          width: 0;
          height: 0;
          transform: translateX(-50%);
          border-style: solid;
          border-width: 0 10px 10px 10px;
          border-color: transparent transparent white transparent;
        }
      }
    }
  }

  .header__main {
    background-color: $bg-main;
    background-color: inherit;
    padding: 15px 0;

    @media only screen and (min-width: 668px) and (max-width: 991px) {
      padding-bottom: 0;
    }

    #header__main__logo {
      i.fas.fa-bars.icon-colapse {
        color: white;
        float: left;
        font-size: 22px;
        cursor: pointer;
        display: none;
        margin-top: 10px;

        @media only screen and (max-width: 991px) {

          display: block;

        }
      }

      img {
        @media only screen and (max-width: 991px) {

          padding-bottom: 15px;

        }
      }
    }

    #formsearch {
      position: relative;
      overflow: auto;
      width: 100%;
      margin-top: 2px;
      margin-left: auto;
      margin-right: auto;
      background-color: white;
      border-radius: 2px;

      @media only screen and (max-width: 991px) {
        & {
          margin-bottom: 10px;
        }
      }

      #searchbox {
        float: left;
        height: 41px;
        width: 80%;
        border: none;
        box-shadow: none;
        padding: 10px 20px;


      }

      #searchbox:focus {
        outline: none;
      }

      ::placeholder {
        opacity: 0.6;
      }

      #submit {
        position: absolute;
        padding: 9px 27px;
        top: 2px;
        right: 2px;
        border-radius: 2px;
        border: none;
        box-shadow: none;
        background-color: $color-yellow;
        color: $color-white;

        i {
          font-size: 15px;
        }

      }
    }
    .hotline-info{
      @media only screen and (max-width: 991px) and (min-width:668px ){
        height: 0;
      }
    }
    &__hotline {
      float: left;
      text-align: left;
      width: 147px;

      >span {
        cursor: pointer;
        float: left;
        width: 40px;
        height: 40px;
        border: 2px solid white;
        border-radius: 50%;

        i {
          font-size: 15px;
          padding: 10px;
        }
      }

      &:nth-child(2) {
        float: right;
        width: 140px;
      }

    }
    .cart-infomation{
      position: relative;
      cursor: pointer;
      @media only screen and (min-width: 992px) {
        &:hover{
          .cart-list{
            display: inline-block;
          }
        }
      }
      .cart-infomation__fluid{
        width: 100%;
        height: 100%;
      }
      .cart-list {
        &:before{
          width: 100%;
          height: 7px;
          background-color: transparent;
          content: "";
          position: absolute;
          top: -7px;
          left: 0;
        }
        display: none;
        width: 290px;
        position: absolute;
        top: calc(100% +  7px);
        right: 0;
        z-index: 10;
        background-color: $color-white;
        color: #444444;

        &__action{
          padding: 10px;
          .cart-list-totalprice{
            width: 100%;
            padding: 5px;
            font-size: 14px;
            span:nth-child(2){
              float: right;
              color: $bg-main;
              font-family: rome;
            }
          }
          .cart-list-paymoney{
            padding: 5px;
            text-align: center;
            color: $color-white;
            background-color: $bg-main;
            border-radius:3px ;
            border: 1px solid $bg-main;
            font-family: rome;
            &:hover{
              background-color: $color-white;
              color: $bg-main;
            }
          }
          .cart-list-gotocart{
            margin-top: 5px;
            padding: 5px;
            text-align: center;
            color: $color-white;
            border-radius: 3px;
            background-color: $color-gray;
            font-family: rome;
          }
        }
      }
    }

    .tele-infomation {

      @media only screen and (min-width: 1200px) {
        margin-left: 12%;
      }

    }

    &__hotline-info {
      margin-top: 4px;

      @media only screen and (max-width: 1200px) {
        & {
          font-size: 12px;
        }
      }

      >p {
        cursor: pointer;
        margin-bottom: 0;
        margin-left: 50px;
        transition: all 0.3s ease;

        &:first-child {
          font-size: 1em;
          font-family: rome;
          &:hover {
            color: $color-yellow;
          }
        }
      }

      #product-cart {
        margin-left: 10px;
        color: white;
        font-size: 1em;
        font-family: rome;

        &:hover {
          text-decoration: none;
        }

        #count-product {
          text-decoration: none;
          font-family: robo;

        }

      }

      .text-cart {
        margin-left: 50px;
        font-size: 0.8em;
        color: #ffdada;
        display: block;
      }
    }
  }
}

@media only screen and (min-width:668px) and (max-width: 991px) {
  .tele-infomation {
    display: none;
  }

  .cart-infomation {
    right: 0;
    top: -113px;
    position: absolute;
    z-index: 6;
  }
}

.wrap-main {
  display: block;
  font-size: 1.15em;
  background-color: #393a44;

  @media only screen and (max-width: 991px) {
    background-color: $bg-main;
    padding: 0 0 10px 0;
  }

  @media only screen and (max-width: 1200px) {
    font-size: 1em;
  }

  .menu-toogle {
    position: relative;
    background-color: #1c87e5;

    color: $color-white;
    height: 56px;
    font-size: 1.15em;
    &:hover{
      background-color: $bg-main;
    }

    @media only screen and (min-width: 992px) {
      &:hover {
        .list_menu_header {
          display: block;
        }
      }
    }

    @media only screen and (max-width: 991px) {
      height: 40px;
    }

    >a {
      position: absolute;

      top: 50%;
      left: 17%;
      transform: translateY(-50%);
      color: white;

      @media only screen and (max-width: 1200px) {
        left: 10%;
      }

      span {
        color: white;
      }

      &:hover {
        text-decoration: none;
      }

    }

  }

  .list-menu {
    color: white;
    font-family: rome;

    .nav-item {
      height: 100%;

      &:last-child {
        position: relative;

        .label-new {
          position: absolute;
          top: -8px;
          right: 10%;
          background-color: #5bca3d;
          border: 1px solid #5bca3d;
          font-size: 0.8rem;
          padding: 1px 5px;
          font-weight: 400;
          font-style: normal;

          &:before {
            position: absolute;
            content: "";
            bottom: -5px;
            left: 35%;
            border-style: solid;
            border-width: 5px 5px 0 5px;
            width: 0;
            height: 0;
            transform: translateX(-50%);
            border-color: #5bca3d transparent transparent transparent;
          }
        }
      }

      &:first-child>.nav-link {
        color: $bg-main;
      }

      &:hover .nav-link {
        color: $bg-main;
      }

      .nav-link {
        padding: 17px 17px;
        color: white;
        text-transform: uppercase;
        transition: all 0.2s linear;

        @media only screen and (max-width: 1200px) {
          padding: 17px 10px;
        }

      }
    }

  }
}

.container-fluid {
  padding: 0 !important;
}
.side__bar {
  display: none;

  @media only screen and (max-width: 991px) {
    display: inline-block;
    position: fixed;
    top: 0;
    left: -300px;
    height: 100%;
    width: 280px;
    background-color: $bg-main;
    z-index: 9999;
    box-shadow: 2px 0px 11px 1px rgba(168, 168, 168, 0.54);

    // display: none;
    &__logo {
      background-color: $color-yellow;
    }

    &__list {
      list-style-type: none;
      padding-left: 0;

      li {
        padding: 10px 30px;
        font-size: 14px;
        color: white;
        font-weight: normal;
        text-transform: uppercase;
        border-bottom: 1px solid rgba(255, 255, 255, 0.8);
      }
    }
  }
}
.cart-list__nav {
  &::-webkit-scrollbar {
    width: 6px;
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $bg-main;
    border-radius: 3px;

    &:hover {
      background-color: rgba(255,255,255,.2);
    }
  }
  overflow-y: scroll;
  padding: 0;
  max-height: 220px;
  border-bottom: 1px solid #4444446e;
  list-style-type: none;
  margin-bottom: 0;
  .cart-list-item {
    position: relative;
    height: 110px;
    .product-img{
      img{
        width: 80px;
        height: 80px;
      }
    }
    &:not(:last-child) {
      border-bottom: 1px solid #4444396b;
    }
    //.cart-item-delete{
    //  position: absolute;
    //  top: 3px;
    //  right:5px;
    //  font-size: 10px;
    //  cursor: pointer;
    //  &:hover{
    //    i[class^="ti-"]{
    //      color: $bg-main;
    //    }
    //  }
    //}
    .giang-close {
      position: absolute;
      top: 5px;
      right: 10px;
      width: 10px;
      height: 10px;
      z-index: 60;
      cursor: pointer;
      i {
        display: block;
        width: 10px;
        height: 10px;

        &:before {
          background-color: #444444;
          position: absolute;
          content: "";
          height: 100%;
          width: 2px;
          top: 0;
          left: 8px;
          transform: rotate(45deg);

        }
        &:after {
          background-color: #444444;
          position: absolute;
          content: "";
          height: 100%;
          width: 2px;
          top: 0;
          right: 0;
          transform: rotate(-45deg);

        }
      }
    }
    .product-box-w {
      max-height: 110px;
      font-size: 12px;
      margin-bottom: 0;
      padding: 15px 25px 15px 15px;
      .product-img{
        display: inline;
        width: 30%;
      }
      .product-info a {
        font-size: 12px;
      }
      .product-name {
        margin: 0;
        font-size: 13px;
        line-height: 13px;
        max-height: 30px;
      }
      .product-price {
        margin: 0;
        display: inline-flex;
        justify-content: space-between;
        .new-price {

          font-size: 12px;
        }
        .old-price{

        }
      }
      .product-select {
        margin-top: 8px;
        display: inline-block;
        text-align: left;
        border: 1px solid #4444396b;
        &__count {
          width: 30px;
          float: left;
          height: 25px;
          border: 1px solid #4444396b;
          border-top: 0;
          border-bottom: 0;
          &:hover {
            outline: none;
          }
          &:focus {
            outline: none;
          }
          text-align: center;
        }

        &__minus, &__plus {
          cursor: pointer;
          width: 22px;
          float: left;
          height: 25px;
          font-size: 14px;
          border: none;
          background-color: $color-white;
          box-shadow: none;
          &:focus {
            outline: none;
            box-shadow: none;
          }

        }
      }
    }

  }
  &__none{
    text-align: center;
    color: #000;
    font-size: 1rem;
    padding: 25px 0;
  }
}
.product-select {
  display: inline-block;
  text-align: left;
  border: 1px solid #4444396b;
  &__count {
    width: 30px;
    float: left;
    height: 25px;
    border: 1px solid #4444396b;
    border-top: 0;
    border-bottom: 0;
    &:hover {
      outline: none;
    }
    &:focus {
      outline: none;
    }
    text-align: center;
  }

  &__minus, &__plus {
    cursor: pointer;
    width: 22px;
    float: left;
    height: 25px;
    font-size: 14px;
    border: none;
    background-color: $color-white;
    box-shadow: none;
    &:focus {
      outline: none;
      box-shadow: none;
    }

  }
}