@font-face {
  font-family: fontroboto;
  src: url(Roboto-Regular.ttf); }
@font-face {
  font-family: fontroboto_bo;
  src: url(Roboto-Bold.ttf); }
@font-face {
  font-family: fontroboto_med;
  src: url(Roboto-Medium.ttf); }
@font-face {
  font-family: fontroboto_ti;
  src: url(Roboto-ThinItalic.ttf); }
html,
body {
  font-family: "Roboto", "HelveticaNeue", "Helvetica Neue", sans-serif;
  font-size: 13px;
  width: 100%;
  height: 100%; }

a {
  color: white; }
  a:hover {
    text-decoration: none; }

header {
  color: #ffffff;
  background-color: #008744; }
  header .header__info {
    line-height: 36px;
    background-color: inherit;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    text-align: center; }
    header .header__info__new i {
      font-size: 12px;
      padding: 0 5px; }
    header .header__info__new__user {
      position: relative; }
      header .header__info__new__user:hover #user-info {
        display: block;
        transition: all 0.3s linear; }
    header .header__info__new > span {
      cursor: pointer;
      transition: all 0.2s linear;
      padding: 0 5px;
      float: right; }
      header .header__info__new > span:hover {
        color: #ffba00; }
      @media only screen and (max-width: 991px) {
        header .header__info__new > span {
          float: none; } }
    @media only screen and (max-width: 991px) {
      header .header__info__new span:not(:last-child) {
        display: none; } }
    header .header__info__new #user-info {
      position: absolute;
      top: 35px;
      right: -88px;
      min-width: 240px;
      border: 1px solid #efefef;
      background: #fff;
      margin: 0;
      padding: 8px 10px;
      border-radius: 0 0 3px 3px;
      box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.18);
      z-index: 5;
      border-radius: 3px;
      display: none; }
      header .header__info__new #user-info a {
        text-align: center;
        display: block;
        width: 100%;
        color: white;
        background-color: #ffba00;
        font-size: 15px;
        border-radius: 3px; }
        header .header__info__new #user-info a:nth-child(2) {
          margin-top: 8px;
          color: #444;
          background-color: #e1e1e1; }
      header .header__info__new #user-info:before {
        position: absolute;
        top: -10px;
        left: 50%;
        content: "";
        width: 0;
        height: 0;
        transform: translateX(-50%);
        border-style: solid;
        border-width: 0 10px 10px 10px;
        border-color: transparent transparent white transparent; }
  header .header__main {
    background-color: #008744;
    background-color: inherit;
    padding: 18px; }
    @media only screen and (min-width: 668px) and (max-width: 991px) {
      header .header__main {
        padding-bottom: 0; } }
    header .header__main #header__main__logo i.fas.fa-bars.icon-colapse {
      color: white;
      float: left;
      font-size: 22px;
      cursor: pointer;
      display: none;
      margin-top: 10px; }
      @media only screen and (max-width: 991px) {
        header .header__main #header__main__logo i.fas.fa-bars.icon-colapse {
          display: block; } }
    @media only screen and (max-width: 991px) {
      header .header__main #header__main__logo img {
        padding-bottom: 15px; } }
    header .header__main #formsearch {
      position: relative;
      overflow: auto;
      width: 100%;
      margin-top: 2px;
      margin-left: auto;
      margin-right: auto;
      background-color: white;
      border-radius: 2px; }
      @media only screen and (max-width: 991px) {
        header .header__main #formsearch {
          margin-bottom: 10px; } }
      header .header__main #formsearch #searchbox {
        float: left;
        height: 41px;
        width: 80%;
        border: none;
        box-shadow: none;
        padding: 10px 20px; }
      header .header__main #formsearch #searchbox:focus {
        outline: none; }
      header .header__main #formsearch ::placeholder {
        opacity: 0.6; }
      header .header__main #formsearch #submit {
        position: absolute;
        padding: 9px 27px;
        top: 2px;
        right: 2px;
        border-radius: 2px;
        border: none;
        box-shadow: none;
        background-color: #ffba00;
        color: #ffffff; }
        header .header__main #formsearch #submit i {
          font-size: 15px; }
    header .header__main__hotline {
      float: left;
      text-align: left;
      width: 146px; }
      header .header__main__hotline > span {
        cursor: pointer;
        float: left;
        width: 40px;
        height: 40px;
        border: 2px solid white;
        border-radius: 50%; }
        header .header__main__hotline > span i {
          font-size: 15px;
          padding: 10px; }
      header .header__main__hotline:nth-child(2) {
        float: right;
        width: 135px; }
    @media only screen and (min-width: 1200px) {
      header .header__main .tele-infomation {
        margin-left: 20%; } }
    header .header__main__hotline-info {
      margin-top: 4px; }
      @media only screen and (max-width: 1200px) {
        header .header__main__hotline-info {
          font-size: 12px; } }
      header .header__main__hotline-info > p {
        cursor: pointer;
        margin-bottom: 0;
        margin-left: 50px;
        transition: all 0.3s ease; }
        header .header__main__hotline-info > p:first-child {
          font-weight: bold;
          font-size: 1em; }
          header .header__main__hotline-info > p:first-child:hover {
            color: #ffba00; }
      header .header__main__hotline-info #product-cart {
        margin-left: 10px;
        color: white;
        font-size: 1em;
        font-weight: bold; }
        header .header__main__hotline-info #product-cart:hover {
          text-decoration: none; }
        header .header__main__hotline-info #product-cart #count-product {
          text-decoration: none; }
      header .header__main__hotline-info .text-cart {
        margin-left: 50px;
        font-size: 0.8em;
        color: #ffdada;
        display: block; }

@media only screen and (min-width: 668px) and (max-width: 991px) {
  .tele-infomation {
    display: none; }

  .cart-infomation {
    right: 0px;
    top: -113px;
    position: absolute;
    z-index: 6; } }
.wrap-main {
  display: block;
  font-size: 1.15em;
  background-color: #393a44; }
  @media only screen and (max-width: 991px) {
    .wrap-main {
      background-color: #008744;
      padding: 0 0 10px 0; } }
  @media only screen and (max-width: 1200px) {
    .wrap-main {
      font-size: 1em; } }
  .wrap-main .menu-toogle {
    position: relative;
    background-color: #ffba00;
    height: 100%;
    color: #ffffff;
    height: 55px;
    font-size: 1.15em;
    font-weight: bold; }
    @media only screen and (min-width: 992px) {
      .wrap-main .menu-toogle:hover .list_menu_header {
        display: block; } }
    @media only screen and (max-width: 991px) {
      .wrap-main .menu-toogle {
        height: 40px; } }
    .wrap-main .menu-toogle > a {
      position: absolute;
      top: 50%;
      left: 17%;
      transform: translateY(-50%);
      color: white; }
      @media only screen and (max-width: 1200px) {
        .wrap-main .menu-toogle > a {
          left: 10%; } }
      .wrap-main .menu-toogle > a span {
        color: white; }
      .wrap-main .menu-toogle > a:hover {
        text-decoration: none; }
  .wrap-main .list-menu {
    color: white;
    font-weight: bold; }
    .wrap-main .list-menu .nav-item {
      height: 100%; }
      .wrap-main .list-menu .nav-item:last-child {
        position: relative; }
        .wrap-main .list-menu .nav-item:last-child .label-new {
          position: relative;
          position: absolute;
          top: -8px;
          right: 10%;
          background-color: #5bca3d;
          border: 1px solid #5bca3d;
          font-size: 0.8rem;
          padding: 1px 5px;
          font-weight: 400;
          font-style: normal; }
          .wrap-main .list-menu .nav-item:last-child .label-new:before {
            position: absolute;
            content: "";
            bottom: -5px;
            left: 35%;
            border-style: solid;
            border-width: 5px 5px 0 5px;
            width: 0;
            height: 0;
            transform: translateX(-50%);
            border-color: #5bca3d transparent transparent transparent; }
      .wrap-main .list-menu .nav-item:first-child > .nav-link {
        color: #008744; }
      .wrap-main .list-menu .nav-item:hover .nav-link {
        color: #008744; }
      .wrap-main .list-menu .nav-item .nav-link {
        padding: 17px 17px;
        color: white;
        text-transform: uppercase;
        transition: all 0.2s linear; }
        @media only screen and (max-width: 1200px) {
          .wrap-main .list-menu .nav-item .nav-link {
            padding: 17px 10px; } }

.container-fluid {
  padding: 0 !important; }

.baner__img {
  max-width: 100%; }
.baner__scale {
  margin: 20px 0; }
  @media only screen and (max-width: 767px) {
    .baner__scale {
      width: 60%;
      margin: auto; } }
  @media only screen and (max-width: 530px) {
    .baner__scale {
      width: 80%;
      margin: auto; } }
  .baner__scale__right {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    .baner__scale__right > div {
      display: block;
      flex: none;
      padding: 0; }
  .baner__scale__img {
    overflow: hidden; }
    @media only screen and (max-width: 767px) {
      .baner__scale__img {
        padding: 10px; } }
    .baner__scale__img img {
      width: 100%;
      transition: all 0.2s linear; }
      .baner__scale__img img:hover {
        transform: scale3d(1.05, 1.05, 1);
        opacity: 0.6; }

.list_menu_header {
  position: absolute;
  position: relative;
  top: 100%;
  left: 0;
  font-size: 14px;
  background-color: white;
  color: #444;
  font-size: 14px;
  font-weight: 400;
  box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.18);
  display: none;
  z-index: 6;
  padding: 0; }
  @media only screen and (max-width: 991px) {
    .list_menu_header {
      display: none; } }
  .list_menu_header a {
    color: #444; }
  .list_menu_header .ul_menu {
    list-style-type: none;
    display: block;
    padding-left: 0; }
    .list_menu_header .ul_menu > .nav_item {
      text-align: left;
      display: block;
      width: 100%;
      padding: 8px 0;
      border-bottom: 1px solid #8080807d; }
      @media only screen and (max-width: 991px) {
        .list_menu_header .ul_menu > .nav_item {
          border-bottom: 1px dashed  #8080807d; } }
      @media only screen and (min-width: 992px) {
        .list_menu_header .ul_menu > .nav_item:hover {
          background-color: #008744; }
          .list_menu_header .ul_menu > .nav_item:hover:hover > .ul_content_right_1 {
            display: flex; }
          .list_menu_header .ul_menu > .nav_item:hover > a {
            color: white; }
          .list_menu_header .ul_menu > .nav_item:hover a:after {
            display: block; }
          .list_menu_header .ul_menu > .nav_item:hover:nth-child(1) a:before {
            background-image: url("../icon/i_menu_hover_171e1.png"); }
          .list_menu_header .ul_menu > .nav_item:hover:nth-child(2) a:before {
            background-image: url("../icon/i_menu_hover_271e1.png"); }
          .list_menu_header .ul_menu > .nav_item:hover:nth-child(3) a:before {
            background-image: url("../icon/i_menu_hover_371e1.png"); }
          .list_menu_header .ul_menu > .nav_item:hover:nth-child(4) a:before {
            background-image: url("../icon/i_menu_hover_471e1.png"); }
          .list_menu_header .ul_menu > .nav_item:hover:nth-child(5) a:before {
            background-image: url("../icon/i_menu_hover_571e1.png"); }
          .list_menu_header .ul_menu > .nav_item:hover:nth-child(6) a:before {
            background-image: url("../icon/i_menu_hover_671e1.png"); }
          .list_menu_header .ul_menu > .nav_item:hover:nth-child(7) a:before {
            background-image: url("../icon/i_menu_hover_771e1.png"); }
          .list_menu_header .ul_menu > .nav_item:hover:nth-child(8) a:before {
            background-image: url("../icon/i_menu_hover_871e1.png"); }
          .list_menu_header .ul_menu > .nav_item:hover:nth-child(9) a:before {
            background-image: url("../icon/i_menu_hover_971e1.png"); }
          .list_menu_header .ul_menu > .nav_item:hover:nth-child(10) a:before {
            background-image: url("../icon/i_menu_hover_1071e1.png"); }
          .list_menu_header .ul_menu > .nav_item:hover:nth-child(11) a:before {
            background-image: url("../icon/i_menu_hover_1171e1.png"); }
          .list_menu_header .ul_menu > .nav_item:hover:nth-child(12) a:before {
            background-image: url("../icon/i_menu_hover_1271e1.png"); } }
      .list_menu_header .ul_menu > .nav_item > a {
        position: relative;
        padding-left: 40px;
        padding-right: 20px;
        display: inline-block;
        width: 100%; }
        .list_menu_header .ul_menu > .nav_item > a:after {
          position: absolute;
          z-index: 7;
          content: "";
          right: -7px;
          top: -8px;
          border-top: 19px solid transparent;
          border-left: 7px solid #008744;
          border-bottom: 19px solid transparent;
          display: none; }
        .list_menu_header .ul_menu > .nav_item > a:before {
          content: "";
          width: 20px;
          height: 20px;
          position: absolute;
          left: 10px;
          background-size: contain;
          background-repeat: no-repeat; }
        .list_menu_header .ul_menu > .nav_item > a i {
          float: right;
          line-height: 25px;
          position: absolute;
          right: 10px;
          top: 0px; }
      .list_menu_header .ul_menu > .nav_item:nth-child(1) a:before {
        background-image: url("../icon/i_menu_171e1.png"); }
      .list_menu_header .ul_menu > .nav_item:nth-child(2) a:before {
        background-image: url("../icon/i_menu_271e1.png"); }
      .list_menu_header .ul_menu > .nav_item:nth-child(3) a:before {
        background-image: url("../icon/i_menu_371e1.png"); }
      .list_menu_header .ul_menu > .nav_item:nth-child(4) a:before {
        background-image: url("../icon/i_menu_471e1.png"); }
      .list_menu_header .ul_menu > .nav_item:nth-child(5) a:before {
        background-image: url("../icon/i_menu_571e1.png"); }
      .list_menu_header .ul_menu > .nav_item:nth-child(6) a:before {
        background-image: url("../icon/i_menu_671e1.png"); }
      .list_menu_header .ul_menu > .nav_item:nth-child(7) a:before {
        background-image: url("../icon/i_menu_771e1.png"); }
      .list_menu_header .ul_menu > .nav_item:nth-child(8) a:before {
        background-image: url("../icon/i_menu_871e1.png"); }
      .list_menu_header .ul_menu > .nav_item:nth-child(9) a:before {
        background-image: url("../icon/i_menu_971e1.png"); }
      .list_menu_header .ul_menu > .nav_item:nth-child(10) a:before {
        background-image: url("../icon/i_menu_1071e1.png"); }
      .list_menu_header .ul_menu > .nav_item:nth-child(11) a:before {
        background-image: url("../icon/i_menu_1171e1.png"); }
      .list_menu_header .ul_menu > .nav_item:nth-child(12) a:before {
        background-image: url("../icon/i_menu_1271e1.png"); }
      .list_menu_header .ul_menu > .nav_item:last-child {
        border: none; }
      .list_menu_header .ul_menu > .nav_item > .ul_content_right_1 {
        list-style-type: none;
        display: none;
        position: absolute;
        left: 100%;
        top: 0;
        width: 898px;
        min-height: 100%;
        font-size: 14px;
        background-color: white;
        z-index: 6;
        margin-left: 0;
        padding: 20px;
        box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.18); }
        @media only screen and (max-width: 991px) {
          .list_menu_header .ul_menu > .nav_item > .ul_content_right_1 {
            width: 100%;
            height: 100%;
            position: inherit;
            box-shadow: none;
            padding: 10px 15px 0 0; } }
        @media (max-width: 1199px) and (min-width: 992px) {
          .list_menu_header .ul_menu > .nav_item > .ul_content_right_1 {
            width: 725px; } }
        .list_menu_header .ul_menu > .nav_item > .ul_content_right_1 li {
          position: relative; }
          .list_menu_header .ul_menu > .nav_item > .ul_content_right_1 li ul {
            overflow: hidden;
            text-overflow: hidden;
            list-style-type: none;
            position: absolute;
            padding-top: 15px;
            left: 0;
            font-size: 13px;
            padding-left: 15px; }
            @media only screen and (max-width: 991px) {
              .list_menu_header .ul_menu > .nav_item > .ul_content_right_1 li ul {
                position: inherit;
                padding-bottom: 10px; } }
            .list_menu_header .ul_menu > .nav_item > .ul_content_right_1 li ul a {
              color: #444444ba; }

@media only screen and (max-width: 991px) {
  .opacity-fullscreen {
    content: " ";
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0px !important;
    left: 0px;
    z-index: 9999;
    display: none; } }

.side__bar {
  display: none; }
  @media only screen and (max-width: 991px) {
    .side__bar {
      display: inline-block;
      position: fixed;
      top: 0;
      left: -300px;
      height: 100%;
      width: 280px;
      background-color: #008744;
      z-index: 9999;
      box-shadow: 2px 0px 11px 1px rgba(168, 168, 168, 0.54); }
      .side__bar__logo {
        background-color: #ffba00; }
      .side__bar__list {
        list-style-type: none;
        padding-left: 0; }
        .side__bar__list li {
          padding: 10px 30px;
          font-size: 14px;
          color: white;
          font-weight: normal;
          text-transform: uppercase;
          border-bottom: 1px solid rgba(255, 255, 255, 0.8); } }

/*# sourceMappingURL=index.css.map */
