@import "color";
.lds-screen{
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $color-white;
  z-index: 99999;
  overflow: hidden;
  .lds-dual-ring {
    display: inline-block;
    width: 62px;
    height:62px;
  }
  .lds-dual-ring:after {
    position: absolute;
    display: inline-block;
    top: calc(50% - 31px);
    left: calc(50% - 31px);
    content: " ";
    width: 62px;
    height: 62px;
    margin: 1px;
    border-radius: 50%;
    border-width: 5px;
    border-style: solid;
    border-color: $bg-main transparent $bg-main transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }
  .lds-dual-ring:before {
    content: " ";
    display: inline-block;
    position: absolute;
    top: calc(50% - 26px);
    left: calc(50% - 26px);
    width: 52px;
    height: 52px;
    margin: 1px;
    border-radius: 50%;
    border-width: 5px;
    border-style: solid;
    border-color: $bg-main transparent $bg-main transparent;
    animation: lds-dual-ring-1 1.2s ease-in infinite;
  }
  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  @keyframes lds-dual-ring-1 {
    0% {
      transform: rotate(0deg);
    }
    75%{
      transform: rotate(-275deg);
    }
    100% {
      transform: rotate(-360deg);
    }
  }
}
.show{
  display: block!important;
}
.hide{
  display: none!important;
}